.one {
    display: flex;
    justify-content: center;   
}

body {
    background-color: grey;
}

h1 {
    align-items: center;
}

.header {
    color: blue;
    font-size: 50px;
}

#two {
    display: flex;
    justify-content: center;
    gap: 200px;
}

#rock {
    font-size: 40px;
    color: green; 
}

#paper {
    font-size: 40px;
    color: green;
}

#scissors {
    font-size: 40px;
    color: green;
}

.result {
    background-color: white;
    width: 400px;
    height: 100px;
}

.results {
    font-size: 25px; 
}

#playerScore {
    font-size: 30px;
    font-weight: bold;
}

#computerScore {
    font-size: 30px;
    font-weight: bold;
}
