.one {
    display: flex;
    justify-content: center;   
}

body {
    background-color: grey;
}

h1 {
    align-items: center;
}

.header {
    color: blue;
    font-size: 50px;
}

.two {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.first {
    font-size: 60px;
    color: green;
}

.second {
    font-size: 60px;
    color: green;
}

.third {
    font-size: 60px;
    color: green;
}